#include "resource.h"


MAINICON ICON "ico1.ico"

IDD_CREATEDESKTOPLINK_DIALOG DIALOGEX 0, 0, 344, 254
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "GIZMO"
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,264,22,50,16
    PUSHBUTTON      "取消",IDCANCEL,264,47,50,16
    GROUPBOX        "设定桌面显示的快捷方式",IDC_SELGROUP,21,17,210,216
    CONTROL         "关闭屏幕",IDC_MONOFF,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,37,48,10
    CONTROL         "一键启动屏保",IDC_ACTIVESCR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,54,64,10
    CONTROL         "一键锁定Windows",IDC_LOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,70,76,10
    CONTROL         "打开CDROM",IDC_OPENCDROM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,85,76,10
    CONTROL         "关闭CDROM",IDC_CLOSECDROM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,100,76,10
    CONTROL         "一键静音",IDC_MUTE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,115,76,10
    CONTROL         "一键提供音量20%",IDC_VOLUMEUP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,130,76,10
    CONTROL         "一键降低音量20%",IDC_VOLUMEDOWN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,145,76,10
    CONTROL         "一键关机",IDC_SHUTDOWN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,160,76,10
    CONTROL         "一键重启",IDC_REBOOT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,175,76,10
    CONTROL         "一键最大音量",IDC_VOLUMEMAX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,190,76,10
END